<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A05389632B19492D00F5526D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05389792B19492E00F5526D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05389832B19492E00F5526D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0C0E6D82B23CC30002BA7D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
