<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A00D046D2ABDAF0400007AF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A00D04C12AC6110800007AF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A00D04CA2AC6110800007AF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04831F429EC951700DC61EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04831FE29EC951700DC61EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A060CB542A447C8B007F512E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
